<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Filmes</title>
</head>
<body>
    <!-- const {matricula, nome, email, data_nascimento, turma, fone, sexo} = req.body  -->
    <form method="post" action="/filme/novoFilme">
        <label for="nome">Título do filme:</label>
        <input type="text" name="titulo" id="nome"><br>

        <label for="diretor">Diretor</label>:</label>
        <input type="text" name="diretor" id="diretor"><br>

        <label for="ano_lancamento">Ano de lançamento:</label>
        <input type="number" name="ano_lancamento" id="ano_lancamento"><br>

        <label for="genero">Genero:</label>
        <input type="text" name="genero" id="genero"><br>

        <label for="duracao">Duração (minutos):</label>
        <input type="number" name="duracao_minutos" id="duracao"><br>
        
        <label for="sinopse">Sinopse:</label> <br>
        <input type="text" name="sinopse" id="sinopse"><br>

        <label for="avaliacao">Avaliação:</label>
        <input type="number" name="avaliacao" id="avaliacao"><br>

        <input type="submit" name="Cadastrar" id="cadastrar">
    </form>
    
</body>
</html>